.other{
    margin: 1rem 20px 0;
}

.add {
    margin: 1rem 15px 0;
}

.Component-Bg {
    background-image: url('https://cdn.wallpapersafari.com/14/1/qgcwDR.png');
}

.undo-button {
    margin-left:43.7vw;
    margin-top: 1vh;
}

